#board {
  width: 500px;
  height: 500px;
  position: relative;
  top: 30px;
  left: 25%;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  display: inline-block;
  margin-bottom: 4px;
  font-size: 180px;
  font-weight: bold;
  font-family: sans-serif;
}

#resetButton {
  border: 1px solid black;
  display: inline-block;
  margin-bottom: 4px;
  border-radius: 30px;
  padding: 40px;
  font-size: 30px;
  font-family: sans-serif;
}
.box:hover{
  background-color: red;
}
#whoTurn{
  margin-left: 25%;
  font-size: 30px;
}
